<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <h1>TECH BLOG</h1>
    <nav>
      <div class="topnav" id="myTopnav">
        <a class="link" href="/">Home</a>
        <a class="link" href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
        <a class="link" href="/" id="logout">Logout</a>
        {{else}}
        <a class="link" href="/login">Login</a>
         <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
        {{/if}}
       
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  <script src="/js/script.js"></script>
 {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>