<div class="card">
  <div class="card-body">Edit Post</div>
  <form class="card-body edit-post-form">
    <div class="container">
      <label for="title"><b>Title</b></label>
      <input type="text" value="{{blog.blog_header}}" placeholder="Enter Title" name="title" required>

      <label for="content"><b>Content</b></label>
      <input type="content" value="{{blog.discription}}" placeholder="Enter Content" name="content" required>

      <button type="submit">Update Post</button>
      <button type="submit">Delete</button>
    </div>
  </form>

</div>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>