<div class="card">
  <div class="card-body">Existing blog posts</div>
  <div class="blog-card">
    {{#each blogs as |blog|}}
    <div class="blog-header">
      {{blog.blog_header}}
    </div>
    <div class="blog-card-bdy">
      <p>
        {{bolg.discription}}
      </p>
      <div class="blog-by">
        {{blog.bloger_name}}
        date: 20/12/2021
      </div>
    </div>
  </div>
  {{/each}}
</div>