<div class="card">
        <div class="card-body">Existing blog posts</div>
        <form>
          <p class="solid">posted blogs.</p>
          <p class="solid">posted blogs.</p>
        </form>

      </div>