<div class="card">
        <div class="card-body">Login card </div>
        <form action="/action_page.php" method="post">
          <div class="imgcontainer">
            <img src="../Assets/avatar.png" alt="Avatar" class="avatar">
          </div>

          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>

            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <button onclick="document.getElementById('id01').style.display='block'"
              style="width:auto; padding: 10px 18px;">Sign Up</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>

      </div>