<div class="card">
    <div class="card-body">Login card </div>
    <form id="login-form"  method="post">
        <div class="imgcontainer">
            <img src="/assets/avatar.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="username-login"><b>Username</b></label>
            <input type="text" id="username-login" placeholder="Enter Username" name="username-login" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" id="psw"placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>

            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <button onclick="window.location.href='/signup';" class="signPage">SignUp</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>

</div>
<script src="/js/login.js"></script>
<script src="/js/script.js"></script>
