
<div class="card">
        <div class="card-body">Create New Post </div>
        <form id="new-post-form" >
          <div class="container">
            <label for="title"><b>Title</b></label>
            <input type="text" id="blog_header" placeholder="Enter Title" name="title" required>

            <label for="content"><b>Content</b></label>
            <input type="content" id="description" placeholder="Enter Content" name="content" required>

            <button type="submit">Create</button>
          </div>
          <div class="container" style="background-color:#f1f1f1">
           

          </div>
        </form>
      </div>
      
      <script src ="/js/add-blog.js"