<div class="card">
        <div class="card-body">Edit Post</div>
        <form action="/action_page.php" method="post">
          <div class="container">
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter Title" name="title" required>

            <label for="content"><b>Content</b></label>
            <input type="content" placeholder="Enter Content" name="content" required>

            <button type="submit">Update Post</button>
            <button type="submit">Delete</button>
          </div>
        </form>

      </div>
      <div class="card">
        <div class="card-body">Create New Post </div>
        <form action="/action_page.php" method="post">
          <div class="container">
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter Title" name="title" required>

            <label for="content"><b>Content</b></label>
            <input type="content" placeholder="Enter Content" name="content" required>

            <button type="submit">Create</button>
          </div>
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="nwptbtn">+ New Post</button>


          </div>
        </form>
      </div>