<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Blog</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <h1>TECH BLOG</h1>
    <nav>
      <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#dashboard">Dashboard</a>
        <a href="#login">Login</a>
        <a href="#logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="card">
        <div class="card-body">Login card </div>
        <form action="/action_page.php" method="post">
          <div class="imgcontainer">
            <img src="../Assets/avatar.png" alt="Avatar" class="avatar">
          </div>

          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>

            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <button onclick="document.getElementById('id01').style.display='block'"
              style="width:auto; padding: 10px 18px;">Sign Up</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>

      </div>
      <div class="card">
        <div class="card-body">Existing blog posts</div>
        <div class="blog-card">
          <div class="blog-header">
            Lorem ipsum dolor
          </div>
          <div class="blog-card-bdy">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nemo. Facilis natus commodi
              nesciunt quidem itaque optio eum qui architecto labore animi? Illo assumenda dolores laborum impedit sed
              eum
              facere!
            </p>
            <div class="blog-by">
              by: Lodolor
              date: 20/12/2021
            </div>
          </div>
        </div>
        <div class="blog-card">
          <div class="blog-header">
            Lorem ipsum dolor
          </div>
          <div class="blog-card-bdy">
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nemo. Facilis natus commodi
              nesciunt quidem itaque optio eum qui architecto labore animi? Illo assumenda dolores laborum impedit sed
              eum
              facere!
            </p>
            <div class="blog-by">
              by: Lodolor
              date: 20/12/2021
            </div>
          </div>
        </div>

      </div>
      <div class="card">
        <div class="card-body">Edit Post</div>
        <form action="/action_page.php" method="post">
          <div class="container">
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter Title" name="title" required>

            <label for="content"><b>Content</b></label>
            <input type="content" placeholder="Enter Content" name="content" required>

            <button type="submit">Update Post</button>
            <button type="submit">Delete</button>
          </div>
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="nwptbtn">+ New Post</button>


          </div>
        </form>

      </div>
      <div class="card">
        <div class="card-body">Create New Post </div>
        <form action="/action_page.php" method="post">
          <div class="container">
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter Title" name="title" required>

            <label for="content"><b>Content</b></label>
            <input type="content" placeholder="Enter Content" name="content" required>

            <button type="submit">Create</button>
          </div>
          
        </form>
      </div>
      <div class="card">
        <div id="id01" class="modal">
          <div class="card-body">Sign up</div>
          <form action="/action_page.php" method="post">
            <div class="container">
              <h1>Sign Up</h1>
              <p>Please fill in this form to create an account.</p>
              <hr>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <label for="psw-repeat"><b>Repeat Password</b></label>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>

            <div class="clearfix">
              <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="cancelbtn1">Cancel</button>
              <button type="submit" class="signupbtn1">Sign Up</button>
            </div>
          </form>
        </div>

      </div>

      <div class="card">
        <div class="card-body">Basic card</div>
        <p class="solid">A solid border.</p>
      </div>
    </div>


    </div>

  </main>
  <script src="../../public/js/script.js"></script>
</body>


</html>